$cjmt-primary:   $cyan;
$cjmt-secondary: $yellow;
$cjmt-accent:    $silver;

$cjmt-colors:(
cjmt-primary:  $cjmt-primary,
cjmt-secondary: $cjmt-secondary,
cjmt-accent: $cjmt-accent
);

$cjmt-primary-rgb: rgb(202,255,255);
$cjmt-secondary-color-rgb: rgb(255,228,30);
$cjmt-accent-cocolor-rgb: rgb(168,169,173);

$cjmt-colors-rgb: (
cjmt-primary-rgb: $cjmt-primary-rgb,
cjmt-secondary-color-rgb: $framework-secondary-color-rgb,
framework-accent-color-rgb: $framework-accent-color-rgb
);
