$cjmt-color-primary-rgba: rgba(0,204,204);
$cjmt-color-secondary-rgba: rgba(255,228,30);
$cjmt-color-accent-rgba: rgba(168,169,173);

$cjmt-brand-color-rgba: (
  primary-rgba: rgba(10, 186, 181),
  secondary-rgba: rgba(255,228,30),
  accent-rgba: rgba(168,169,173)
);

$cjmt-gray-100-rgba: rgba(192,192,192);
$cjmt-gray-200-rgba: rgba(154 154 154);
$cjmt-gray-300-rgba: rgba(123, 123, 123);
$cjmt-gray-400-rgba: rgba(98 98 98);
$cjmt-gray-500-rgba: rgba(78,78,78);
$cjmt-gray-600-rgba: rgba(62,62,62);
$cjmt-gray-700-rgba: rgba(50,50,50);
$cjmt-gray-800-rgba: rgba(40,40,40);
$cjmt-gray-900-rgba: rgba(26,26,26);

$cjmt-gray-rgba: (
cjmt-gray-100-rgba: $cjmt-gray-100-rgba,
cjmt-gray-200-rgba: $cjmt-gray-200-rgba,
cjmt-gray-300-rgba: $cjmt-gray-300-rgba,
cjmt-gray-400-rgba: $cjmt-gray-400-rgba,
cjmt-gray-500-rgba: $cjmt-gray-500-rgba,
cjmt-gray-600-rgba: $cjmt-gray-600-rgba,
cjmt-gray-700-rgba: $cjmt-gray-700-rgba,
cjmt-gray-800-rgba: $cjmt-gray-800-rgba,
cjmt-gray-900-rgba: $cjmt-gray-900-rgba
);
